.d-editor-textarea-wrapper textarea {
    background: black;
}
.d-editor-button-bar {
    display: flex;
    align-items: center;
    min-height: 30px;
    border-bottom: 1px solid var(--primary-low);
    background-color: #4d4c8b !important;
}
.d-editor-textarea-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 3, 68);
    position: relative;
    border: 1px solid var(--primary-medium);
}