//comment 
.navigation-container { // style navigation container 
     .select-kit.combo-box { // "all categories" and "all tags" 
        .select-kit-header { 
            border-radius: 4px;
        }
    }
    .nav-pills { // style navigation links 
        & > li a { // a links inside of the navigation <li> tags
            border-radius: 4px;
        }
    }
}
//comment

//centers topics and its number 
.category-list .topics {
    width: 80px;
    text-align: center;
}

//change color of labels from white to grey 
.category-list th {
    color: #eee4f3 !important;
    text-shadow: none;
    font-weight: 550;
    font-size: 17px;color: var(--primary-med-or-secondary-high);
    
}
