.btn { 
    .d-icon {
        color: var(--quaternary-low);
    }
    &.btn-default {
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgb(77, 76, 76);
        background-color: purple;
        color: white;
        &:hover {
            background-color: var(--quaternary-low);
            color: var(--quaternary);
            .d-icon {
                color: var(--quaternary);
            }
        }
        .d-icon {
            color: var(--quaternary-low);
        }
    }
    &.btn-primary {
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgb(77, 76, 76);
        background-color: var(--quaternary);
        color: white;
        &:hover {
            background-color: var(--quaternary-low);
            color: var(--quaternary);
            .d-icon {
                color: var(--quaternary);
            }
        }
    }
}

.single-select-header {
    
}
