// categories
@use "light-theme/variables.scss";
.navigation-container { // style navigation container 
    .select-kit.combo-box { // "all categories" and "all tags" 
        .select-kit-header { 
            border-radius: 4px;
        }
    }
    .nav-pills { // style navigation links 
        & > li a { // a links inside of the navigation <li> tags
            border-radius: 4px;
        }
    }
}

// category box including latest posts
.has-description.no-logo:hover {
    @include highlight;
    .category {
        border-color: var(--primary-low) !important;
    }
}