.navigation-container { // style navigation container 
    .select-kit.combo-box { // "all categories" and "all tags" 
        .select-kit-header { 
            border-radius: 4px;
            background-color: purple;
            color: white;
            .d-icon {
                color: var(--quaternary-low);
            }
        }
    }
    .nav-pills { // style navigation links 
        & > li a { // a links inside of the navigation <li> tags
            border-radius: 4px;
        }
    }
}