// composer

#reply-control {
    background-color: var(--tertiary);
    color: var(--primary-low);
    
    .save-or-cancel button {
        font-weight: bold;
    }
    
    .cancel {
        font-weight: bold;
    }
}

#reply-to { //top bar of composer
    background-color: "031b1e"; 
    #ember234 {
        font-size: var(--font-up-3);
    }
}

#ember256 {
    #ember257{
        .d-editor-container {
            .d-editor-textarea-wrapper { //text box
                background-color: var(--primary-very-low);
            }
        }
    }
}