// topic list
@use "light-theme/variables.scss";
.topic {
    &-post { // should be in topic but would cause for a redundancy
        // similar to onscreen-post
        &:hover {
            @include highlight;
        }
    }
    &-list {
        th { // table headings 
            color: var(--primary);
            text-shadow: 0px 0px 3px var(--primary-low-mid);
            font-weight: 550;
            .btn-flat .d-icon {
                color: var(--primary);
            }
        }
    }
    &-list-item {
        &:hover {
            @include highlight;
        }
    }
}


.ember-application {
    background-image: linear-gradient(to bottom, var(--secondary), var(--tertiary-low), white);
}