.topic-list {
    box-shadow: 0px 0px 4px black;
    tr { // table rows 
        border-color: purple;
    }
    th { // table headings 
        color: rgb(172, 26, 172);
        text-shadow: 0px 0px 3px rgb(39, 214, 39);
        font-weight: 550;
        background-color: rgb(240, 240, 240);
    }
}