.topic-list {
    th { // table headings 
        color: var(--primary);
        text-shadow: 0px 0px 3px var(--primary-low-mid);
        font-weight: 550;
        .btn-flat .d-icon {
            color: var(--primary);
        }
    }
}

.ember-application {
    background-image: linear-gradient(to bottom, var(--secondary), var(--tertiary-low), white);
}